/* *{
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;

} */
nav ul{
display: flex;
list-style: none;


}

nav li{
    margin-right: 10px;
    border: 2px solid black;
    font-size: large;
    padding: 4px;
    text-align: right;
    font-style: oblique;
    
}
nav li:hover{
    background-color: aliceblue;
}
article{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: rgb(234, 236, 216);
    border: 2px solid black;
    margin: 4px;
    padding: 4px;
    text-decoration: none;
    text-align: justify;

}
.tt,.ts{
    color: rgb(81, 81, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}
.ty{
    color: rgb(70, 14, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder; 
    text-align: center;
    
}
.tb{
    color: rgb(48, 228, 129);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    /* text-shadow: 2cm; */
    /* text-underline-offset: calc(23) ;  */
    text-transform: uppercase;
    /* text-shadow: cadetblue; */
    text-align: center;
    /* text-size-adjust: 50px; */
    /* text-wrap: 10px; */
    /* text-box: 10px; */
}

#t1{
    text-align: center;
    color: brown;
    font-size: 50px;
    font-style: italic;
}

p small{
    font-style: italic;
    color: brown;
    font-weight: bold;
    font-size: 20px;
}
p{
    font-size: 30px;
}

span{
    font-size: 40px;
    font-weight: bold;
}

.blog{
    background-color: aliceblue;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
    height: 400px;
}
.content{
    /* height: 200px;
    width: 300px; */
    display: flex;
    /* display: none; */
    
    
    flex-wrap: wrap;
}
